#app

//- This is a a react component that accepts a text, and manually calculates how to flow the text in the given width. You can see the actual component in the render method of App (at the bottom of the JS file). And you can tweak all of its params at the top of the JS file. It's also responsive, try changing the width of the window!